<!DOCTYPE html>
<html>
	<head>
		{{>head}}
		<title>{{page_title}}</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<style type="text/css"></style>
	</head>
	<body>
		{{>header}}
		<p>{{choose_taverna}}</p>
		<ul class="taverna-items">
			{{#each taverna_items}}
			{{#if active}}
			<li><a href="{{this.lang}}/menu">{{this.label}}</a></li>
			{{/if}}
			{{/each}}
		</ul>
		{{>footer}}
	</body>
	{{!-- <script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}
</html>
